.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.left-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-panel {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tile-map {
  display: grid;
}

.tile {
  border: 1px solid black;
}

.collections {
  margin: 0.5rem;
  height: 4rem;
}

.controls {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0.5rem;
}

.dist-matrix {
  display: flex;
  flex-direction: column;
}

.dist-element {
  width: 0.09rem;
  height: 0.09rem;
}

.hidden {
  visibility: hidden;
}
