.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.left-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-panel {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tile-map {
  display: grid;
  position: relative;
}

.tile {
  position: relative;
  border: 1px solid black;
}

.tile > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.collections {
  display: flex;
  margin: 0.5rem;
  gap: 1rem;
}

.dist-matrix {
  display: flex;
  flex-direction: column;
}

.dist-element {
  width: 1rem;
  height: 1rem;
}

.next-matrix {
  display: flex;
  flex-direction: column;
}

.next-element {
  width: 1rem;
  height: 1rem;
  outline: 1px solid black;
}

.code {
  font-family: "Fira Code", monospace;
  font-size: 0.75rem;
  font-variant-ligatures: common-ligatures;
  font-feature-settings: "calt" 1;
  text-rendering: optimizeLegibility;
}

.progress-bar {
  margin: 1rem 1rem 0 1rem;
}

.tile-map svg {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}
