<div class="container">
  <div class="left-panel">
    <div class="collections">
      <div class="dist-matrix">
        <div [@distAnimation]="row.length" *ngFor="let row of distForDisplay" style="display: flex">
          <div
            *ngFor="let element of row"
            class="dist-element"
            [ngStyle]="{
              'background-color': 'blue'
            }"
          ></div>
        </div>
      </div>
    </div>

    <div
      #tileMapElement
      class="tile-map"
      [style]="{
        'grid-template-columns': 'repeat(' + numberOfCols + ', 1.25rem)',
        'grid-template-rows': 'repeat(' + numberOfRows + ', 1.25rem)'
      }"
    >
      <div
        *ngFor="let tile of tiles"
        class="tile"
        [style.background-color]="tile.color"
      ></div>
    </div>

    <div class="controls">
      <button (click)="stepBackward()">Backward</button>
      <button (click)="stepForward()">Forward</button>
    </div>
  </div>

  <div class="right-panel">
    <pre><code>function floydWarshall(<span [ngClass]="{'code-highlight': stepTwo}" #adjacencyMatrixCodeElement>adjacencyMatrix</span>):
  <span [ngClass]="{'code-highlight': stepThree}">dist = copy of adjacencyMatrix</span>
  <span [ngClass]="{'code-highlight': stepFour}">next = new matrix of size |V| x |V|</span>
  for u from 0 to |V|:
    for v from 0 to |V|:
      if u == v:
        dist[v][v] = 0
        next[v][v] = v
      else if adjacenyMatrix[u][v] != 0:
        next[u][v] = j
      else:
        dist[u][v] = infinity
        next[u][v] = null

  for k from 0 to |V|:
    for i from 0 to |V|:
      for j from 0 to |V|:
        if dist[i][j] > dist[i][k] + dist[k][j]:
          dist[i][j] = dist[i][k] + dist[k][j]
          next[i][j] = next[i][k]

return dist, next

function reconstructPath(next, u, v):
  if next[u][v] == -1:
    return []
  path = [u]
  while u != v:
    u = next[u][v]
    path.append(u)
  return path</code></pre>
  </div>
</div>
